services:
  postgres:
    image: postgres:16-alpine
    ports:
      - 10001:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - ./.docker/postgres:/var/lib/postgresql/data
